.bg-escuro .card-text {
    color: black;
}

.titulo-grafico{
    margin-top: 80px;
}

.carousel-item img{
    margin: auto;
}

.mobile {
    display: none;
}

@media screen and (max-width:800px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

}