.mt-25{
    margin-top: 25px;
}

.titulo-item{
    padding-top: 3px;
}

.espera-video {
    width: 80%;
    height: 300px;
    margin: 50px auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black !important;
    color: aliceblue;
}

.espera-video h2 {
    margin:auto;
}

.table-responsive{
    margin-bottom: 25px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.bg-escuro .box-atividade  p{
    color: black;
}


@media screen and (max-width:500px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

}