.espera-objeto{
    width: 300px;
    height: 300px;
    background-color: black;
    color: aliceblue;
    margin: auto;
}

.painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-painel{
    border: none;
    background-color: transparent;
}

.btn-estrategico{
    background-image: url('img/bt_estrategico.png');
    height: 116px;
    width: 221px;
    margin-left: 10px;
}

.btn-tatico{
    background-image: url('img/bt_tatico.png');
    height: 96px;
    width: 310px;
    margin-left: -15px;
}

.btn-operacional{
    background-image: url('img/bt_operacional.png');
    height: 95px;
    width: 392px;
    margin-left: -35px;
}

.btn-painel:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.bg1{
    background: url('img/bg01.png') fixed;
}


.modal-header{
    width: 104.5%;
}

.modal-estrategico{
    background-image: url('img/titulo_modal_estrategico.png');
    background-size: cover;
}

.modal-tatico{
    background-image: url('img/titulo_modal_tatico.png');
    background-size: cover;
}

.modal-operacional{
    background-image: url('img/titulo_modal_operacional.png');
    background-size: cover;
}

@media screen and (max-width:500px) {



    .painel{
        width: 100%;
    }

    .btn-estrategico{
        height: 90px;
        width: 80%;
        background-size: 66%;
        background-repeat: no-repeat;
        margin-left: 134px;
    }
    
    .btn-tatico{
        height: 80px;
        width: 80%;
        background-size: 90%;
        background-repeat: no-repeat;
        margin-left: 45px;
    }
    
    .btn-operacional{
        height: 100px;
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        margin:auto;
    }

} 



/* .btn-operacional{
    background-image: url('img/bt_operacional.png');
    height: 95px;
    width: 392px;
    margin-left: -35px;
} */