.espera-objeto{
    width: 400px;
    height: 300px;
    background-color: black;
    color: aliceblue;
    margin: auto;
}

.painel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-painel{
    border: none;
    background-color: transparent;
}

.btn-estrategico{
    background-image: url('images/bt_estrategico.png');
    height: 116px;
    width: 221px;
    margin-left: 10px;
}

.btn-tatico{
    background-image: url('images/bt_tatico.png');
    height: 96px;
    width: 310px;
    margin-left: -15px;
}

.btn-operacional{
    background-image: url('images/bt_operacional.png');
    height: 95px;
    width: 392px;
    margin-left: -35px;
}

.btn-painel:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.bg1{
    background: url('../02_RELACAO_INDICADORES_DE_ESTRATEGIA/images/bg01.png') fixed;
}


.modal-header{
    width: 104.5%;
}

.modal-estrategico{
    background-image: url('images/titulo_modal_estrategico.png');
    background-size: cover;
}

.modal-tatico{
    background-image: url('images/titulo_modal_tatico.png');
    background-size: cover;
}

.modal-operacional{
    background-image: url('images/titulo_modal_operacional.png');
    background-size: cover;
}


.bloco2{
    background: url('../02_RELACAO_INDICADORES_DE_ESTRATEGIA/images/bg01.png') fixed !important;
}

.bloco4{
    background: url('../02_RELACAO_INDICADORES_DE_ESTRATEGIA/images/bg02.png') fixed !important;

}

.bloco6{
    background: url('../02_RELACAO_INDICADORES_DE_ESTRATEGIA/images/bg03.png') fixed !important;

}

.bloco8{
    background: url('../02_RELACAO_INDICADORES_DE_ESTRATEGIA/images/bg04.png') fixed !important;

}



@media screen and (max-width:500px) {

    .btn-estrategico{
        
        height: 116px;
        width: 221px;
        margin-left: 10px;
    }
    
    .btn-tatico{
        
        height: 96px;
        width: 310px;
        margin-left: -15px;
    }
    
    .btn-operacional{
        
        height: 95px;
        width: 392px;
        margin-left: -25px;
    }

}



