.custom-bullet.white{
    color: white;
}

.mapa-estrategico{
    background: url(images/bg_mapa_estrategico.png) no-repeat;
    background-size: cover;
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    gap: 40px;
}


.botao-direcionadores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
}
.botao-direcionadores::before{
    content: url('images/bt_1.png'); 
    display: block;
    margin-bottom: -10px;
}