.custom-bullet.white{
    color: white;
}

.mapa-estrategico{
    background: url(img/bg_mapa_estrategico.png) no-repeat;
    background-size: cover;
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    gap: 40px;
    margin-bottom: 50px;
}


.botao-mapa-estrategico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.botao-mapa-estrategico>button{
    width: 210px;
}

.botao-mapa-estrategico::before{
    display: block;
    margin-bottom: -13px;
    z-index: 10;
}


.botao-a-direita{
    margin-left: 100px;
}


.botao-direcionadores::before{
    content: url('img/bt_1.png'); 
    
}

.botao-a-esquerda{
    margin-left: -100px;
}

.botao-temas::before{
    content: url('img/bt_2.png'); 
}

.botao-perspectivas::before{
    content: url('img/bt_3.png');
}

.botao-objetivos::before{
    content: url('img/bt_4.png');
}

.botao-causa-e-efeito::before{
    content: url('img/bt_5.png');
}


.desktop {
    display: block;
}

.mobile {
    display: none;
}

.bg-escuro li{
    color: black;
}


@media screen and (max-width:500px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

}